.scootrs_foot {
  width: 100vw;
  height: 250px;
    display: flex;
    align-items: center;
  background: #495567;
}
.scootrs_foot h1{

font-family: 'Space Mono';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 48px;
/* or 100% */

letter-spacing: -2.14286px;

color: #FFFFFF;
width: 415px;
height: 96px;
}